/.idea*
/.idea/*
/.idea
.idea
/templates/clouder
/templates/orderforms/clouder-default
/templates/twenty-one
/modules/addons/ResellersCenter
/templates/orderforms/lagom
/templates/lagom
/modules/addons/RSThemes
