.primary-bg-color {
    background-color: #ddd;
}



header.header .navbar-nav a {
    font-size: 19px;
}

header.header .dropdown-menu a.dropdown-item,
header.header .navbar a {
    color: #0b0b0b;
}



header.header .navbar-dark a {
    color: white;
}



