 @import url('https://fonts.cdnfonts.com/css/milliard');

 body {
    font-family: 'Milliard', sans-serif!important;

     font-size: 16px;

 }



.page-wrapper {
    background: #ffffff;
}

.page-content {
    border: unset;
}

.sidebar .profile-sidebar, .featured-tld, .domain-register-table  {

    border: 1px solid white;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 10%), 0px 2px 24px rgb(0 0 0 / 8%);
    border-radius: 10px;
}

.profile-sidebar-top {
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.sidebar .profile-sidebar-image {
    margin: 0 0 0 20px!important;

}

.sidebar .navigation {
    border-radius: 10px;
}




.wrapper {
    width: 90%;
    max-width: 2000px;

}



.sidebar .profile-sidebar-top {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient_sidebar 15s ease infinite;

}

@keyframes gradient_sidebar {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}






.whmc-kbtn{
    font-size: 16px;
    font-family: "Milliard", sans-serif;
    line-height: 50px;
    text-align: center;
    padding: 0 30px;
    color:#fff;
    background-color: #1279fa;
    border: 1px solid transparent;
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
    transition: .3s;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    position: relative;

}

.whmc-kbtn-2 {
    font-size: 16px;
    font-family: "Milliard", sans-serif;
    line-height: 50px;
    text-align: center;
    padding: 0 30px;
    color:#1279fa;
    background-color: #ffffff;
    border: 1px solid #1279fa;
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
    transition: .3s;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    position: relative;
}

.whmc-kbtn-small{
    font-size: 12px;
    font-family: "Milliard", sans-serif;
    line-height: 25px;
    text-align: center;
    padding: 0 13px;
    color:#fff;
    background-color: #1279fa;
    border: 1px solid transparent;
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
    transition: .3s;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    position: relative;
    margin-right: 4px;

}

.whmc-kbtn-2-small {
    font-size: 12px;
    font-family: "Milliard", sans-serif;
    line-height: 25px;
    text-align: center;
    padding: 0 15px;
    color:#1279fa;
    background-color: #ffffff;
    border: 1px solid #1279fa;
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
    transition: .3s;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    position: relative;
    margin-right: 4px;
}

.whmc-kbtn:hover {
    color: #ffffff!important;
}

.whmc-kbtn-2:hover {
    color: #1279fa!important;
 }

 .whmc-kbtn-small:hover {
     color: #ffffff!important;
 }

 .whmc-kbtn-2-small:hover {
     color: #1279fa!important;
  }

 .header-link-back-to-site{
     height: 35px;
     width: 35px;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     background-color: #ebebeb;
     border-radius: 50px;
     vertical-align: middle;
 }
.header-svg-back-to-site {
    width: 21px;
    height: auto;
    fill: #656565;
    position: relative;
    left: -1px;
}

.cbtn {
    margin: 0 5px;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 25px;
    color: white;
    border-radius: 0px;
    background: #1279fa;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #1279fa;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    outline: none;
}

.svg-icon-outline-i, .svg-icon-outline-l, .svg-icon-outline-p, .svg-icon-outline-s {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.svg-icon-stroke {
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.svg-icon-prime.svg-icon-stroke {
    stroke: #189bfc;
}
.svg-icon-prime {
    fill: #189bfc;
}



.svg-icon-prime.svg-icon-stroke {
    stroke: #1279fa;
}
.svg-icon-prime {
    fill: #1279fa;
}


.svg-icon-prime.svg-icon-stroke {
    stroke: #1279fa;
}

.svg-icon-prime-l {
    fill: #189bfc;
}

.svg-icon-outline-i {
    stroke: #ffffff;
}

.svg-icon-outline-s {
 stroke: #2b2b2b;
}

.svg-icon-dashed-21, .svg-icon .dashed-21 {
    stroke-dasharray: 4.27 8.53;
}

.svg-icon-dashed-22, .svg-icon .dashed-22 {
    stroke-dasharray: 3.7 7.4;
}

.tiles .title {
    font-size: 18px;
    font-weight: 600;
}

.client-area-boxes {
   border-radius: 10px;
   box-shadow: 0px 0px 1px rgb(0 0 0 / 10%), 0px 2px 24px rgb(0 0 0 / 8%);
   transition: all .24s ease!important;
    padding: 0px;
   margin: 10px;
    width: 22.5%;
}



.client-area-boxes-2 {
   border-radius: 10px;
   box-shadow: 0px 0px 1px rgb(0 0 0 / 10%), 0px 2px 24px rgb(0 0 0 / 8%);
   transition: all .24s ease!important;
   padding: 0px;
   margin: 10px;
   height: 200px;
   display: flex;

   align-items: center;
   font-size: 36px;
}

 @media (max-width: 768px) {
     #mw-whm--area-row-services{
         flex-wrap: wrap;
     }
     #mw-whm--area-row-services .client-area-boxes{
         width: 45%;
     }
 }

 @media (max-width: 500px) {

     #mw-whm--area-row-services .client-area-boxes{
         width: 90%;
     }
 }

.client-area-row {
    justify-content: center;
    margin: 0 auto;
    display: flex;
}


.mw-whm.clientareahome .tiles .tile:nth-child(1) a, .mw-whm.clientareahome .tiles .tile:nth-child(2) a, .mw-whm.clientareahome .tiles .tile:nth-child(3) a, .mw-whm.clientareahome .tiles .tile:nth-child(4) a {
    border: 1px solid #1279fa;
    color: #1279fa;
}

.mw-whm.clientareahome .tiles .tile:nth-child(1) a:hover, .mw-whm.clientareahome .tiles .tile:nth-child(1) a:hover, .mw-whm.clientareahome .tiles .tile:nth-child(2) a:hover, .mw-whm.clientareahome .tiles .tile:nth-child(2) a:hover, .mw-whm.clientareahome .tiles .tile:nth-child(3) a:hover, .mw-whm.clientareahome .tiles .tile:nth-child(3) a:hover, .mw-whm.clientareahome .tiles .tile:nth-child(4) a:hover, .mw-whm.clientareahome .tiles .tile:nth-child(4) a:hover {
    border: 1px solid #f6fafb!important;
    color: #1279fa!important;
    background-color: #f6fafb;
}


.profile-sidebar-name, .sidebar .navigation a, .font-size-18, .panel-heading.card-header h3 {
    font-size: 18px;
    font-weight: 300;
}

.font-size-24 {
    font-weight: 300;
    font-size: 24px;

}

header .main-menu > ul > li > a:hover:after {
    background: #1279fa;
}

header .main-menu li ul {
    border-color: #1279fa;
}

header .top-right-button {
    background: #ffffff;
    color: #1279fa;
    border-color: white;
}

.client-area-background-image {
    padding: 25%;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 100%;
}

.whm-profile-img {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center top;
    background-color: white;
}

.sidebar .navigation li.active a, .sidebar .navigation li.active > a .ct-svg *, .sidebar .navigation a:hover .ct-svg * {
    color: #1279fa;
    fill: #1279fa;
}

@media (max-width: 768px) {
    .back-to-website-button {
        display: none;
    }

}

@media (max-width: 1500px) {
   .profile-sidebar-top {
        justify-content: center;
   }
    .profile-sidebar-image {
            display: none;
    }

    .profile-sidebar-name {
        font-size: 15px;

    }
}

@media (max-width: 1000px) {
    .client-area-row-box {
        display: flex;
        flex-direction: column;
    }

    .client-area-box-2 {
        order: 1;
    }

    .client-area-box-1 {
            order: 2;
        }
}



#user_registration_form #domain-search-field, #order-standard_cart .input-group-lg>.form-control {
    height: 80px!important;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 10%), 0px 2px 24px rgb(0 0 0 / 8%)!important;

    border-radius: 10px 0 0 10px!important;

}

.input-domain-domains-area::placeholder {
   font-size: 18px;
    font-weight: 300;
    color: #2b2b2b;
}

.input-domain-domains-area-btn {
     border-radius: 0 10px 10px 0!important;
}

.clear-domain {
    margin-top: 30px!important;
}

.domain-item.cant-start:hover {
        box-shadow: 0px 0px 1px rgb(0 0 0 / 10%), 0px 2px 24px rgb(0 0 0 / 8%)!important;

}

.domain-item.can-start:hover {
    box-shadow: 0px 0px 1px #1279fa, 0px 2px 24px rgb(0 0 0 / 8%)!important;
}

.domain-item.cant-start span {
    opacity: 70%;
}

.domain-recommended-tag {
    background: #1279fa!important;
}

.btn-primary {
        color: #ffffff;
        background: #1279fa;
        border: 1px solid #1279fa;
}

.btn-primary:hover {
    color: #ffffff;
    background: #1279fa;
    border: 1px solid #1279fa;
}

.invoice-container-printer {
    padding: 30px;
}

.invoice-container-printer address {
    font-size: 15px;
    font-weight: 300;
}

.invoice-container-printer .panel-body td {

}

.invoice-container-printer.paypal-box {
    background-color: #1279fa;
    margin-left: 30px;
}

@media screen and (max-width: 767px) {

    .invoice-container-printer.paypal-box {
        margin-top: 20px;
        margin-left: 0px!important;
    }
}

.invoice-container-printer.paypal-box  label{
   color: #ffffff;
   margin-bottom: 10px;
   font-weight: 300;
   font-size: 13px;
}

.invoice-container-printer.printer-box {

}
.badge {
    padding: 8px 15px!important;
    border-radius: 5px!important;
}

 .badge.badge-danger {
    background-color: #d92632;

 }


 .badge.badge-warning {
    background-color: yellow;
 }


 .badge.badge-success {
    background-color: green;
 }


.invoice-container-printer.printer-box h1 {
    font-weight: 300;
}

.invoice-container-printer .top-printer-box {
    color: #ffffff;
}

.invoice-container-printer .top-printer-box p{
   font-weight: 300;
   font-size: 15px;
   margin-bottom: 5px;

}

.invoice-container-printer .top-printer-box h3{
   margin-top: 0;
   font-weight: 600;

}


.pricing-list-2 .plan, .spotlight-tld, .domain-promo-box, .invoice-container-printer {
    box-shadow: 0px 0px 1px rgb(0 0 0 / 10%), 0px 2px 24px rgb(0 0 0 / 8%)!important;
    border: none!important;
    border-radius: 10px!important;
}

#order-modern .domainoptions, #order-modern .domainreginput input, #order-modern .domainreginput select, #order-modern .domainregperiod select, .input-group-addon:first-child {

    box-shadow: 0px 0px 1px rgb(0 0 0 / 10%), 0px 2px 24px rgb(0 0 0 / 8%)!important;
    border: none!important;

}

.templates .template {
    width: 100%!important;
    height: 450px!important;
    box-shadow: none!important;
    border: none!important;
    margin: 0px!important;
}

.templates .template-box {
    box-shadow: 0px 0px 1px rgb(0 0 0 / 10%), 0px 2px 24px rgb(0 0 0 / 8%)!important;
    padding: 0px;
    margin: 0 10px;
}

.box-template-row {
    margin-top: 80px;
}

.templates .template:hover {

       transition: 6s;
       padding: 0px;
}

.template-box-bottom-1 {
    padding: 10px 20px;
}


.template-box-bottom-2 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

@media screen and (min-width: 1200px) {
    .col-box-template {
        width: 48%;
        float: left;
    }

}

.page-payments {
    background: none;
}

.page-payments .service-block {
    min-height: 220px;
    padding: 20px 65px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 10%), 0px 2px 24px rgb(0 0 0 / 8%);
    transition: all .24s ease!important;
    margin: 10px;

}

.page-payments .service-block h1, .header-lined h1 {
    font-weight: 700!important;
    margin-bottom: 0px;
}

.page-payments .subscription-block h1 {
    font-weight: 700;

}

.page-domains.adddomain-title h1 {
    font-weight: 700;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

.page-payments .service-block p, .page-payments .service-block span {
    font-size: 18px;
    font-weight: 300;
}

.page-payments .service-block.plan .price-per .month .price, .page-payments .service-block.plan .price-per .month, .page-payments .service-block.plan .price-per .month span {

    margin-top: 20px;
    color: #1279fa;

}

.page-payments .subscription-block .review-order .rev-lable {
    font-size: 18px;
    font-weight: 700;
}

.page-payments .subscription-block .review-order .rev-value {
    font-size: 18px;
    font-weight: 300;
    color: #1279fa;
    text-align: right;

}

.input-sm {
    font-size: 14px;
}

.site-section.section-primary .container-fluid {
    text-align: center;
}

.site-section.section-primary .section-title {
    margin-bottom: 20px;
    font-size: 48px;
     font-weight: 700;
      line-height: 1.2;
}

.site-section.section-primary .section-subtitle {
    margin-bottom: 5rem;
}

.site-section.section-primary .section-content {
    margin-bottom: 20px;
}

.feature.feature-xs-left {
    margin-bottom: 50px;
}

.feature-title {
    font-size: 24px;
    font-weight: 700;
}

.feature-desc {
    font-size: 18px;
    font-weight: 300;
}

@media screen and (min-width: 1200px) {

    #domain-selector {
        width: 90%!important;
     }
}

.mw-whm table.table > thead > tr > th {
    width: 16%!important;
}

.mw-whm table td, .mw-whm table.table > tbody > tr > td, .mw-whm table.table > tbody > tr > th, .mw-whm table.table > tfoot > tr > td, .mw-whm table.table > tfoot > tr > th, .mw-whm table.table > thead > tr > td, .mw-whm table.table > thead > tr > th {
    padding: 16px 40px;
}

.oc-hero {

    background: url("../img/order-confirmation.jpg")!important;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    background-position: center center!important;

 }

.mw-whm .pagination > .active > a, .mw-whm .pagination > .active > a:focus, .mw-whm .pagination > .active > a:hover, .mw-whm .pagination > .active > span, .mw-whm .pagination > .active > span:focus, .mw-whm .pagination > .active > span:hover {
        background-color: #1279fa;
        border-color: #1279fa;
        color: #fff;
}


#Primary_Navbar-Services-My_Licenses, #Primary_Navbar-Affiliates, #Primary_Navbar-Store {
    display: none!important;
}

.plans-whmc-li {
    font-weight: 300;
    line-height: 2.5;
    font-size: 18px;
   color: #2b2b2b;
   list-style: none;
}

.price-per-what {
    font-size: 14px!important;
    line-height: 14px!important;
    font-weight: normal!important;
    position: relative!important;
    color: #737373!important;
    display: block!important;
    margin-bottom: 30px;
}

 .sidebar-menu-toggle svg{
     width: 27px;
     opacity: .7;
     pointer-events: none;
 }
 .sidebar-menu-toggle{
     display: flex;
     position: fixed;
     top: 83px;
     left: -121px;
     cursor: pointer;
     width: 50px;
     height: 50px;
     background: #fff;
     padding: 10px;
     align-items: center;
     justify-content: center;
     border-radius: 147px;
     z-index: 2;
     box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
     transition: .3s;

 }
 .sidebar {
     display: block !important;
     position: sticky;
     top: 95px;
 }


 @media (max-height: 550px){
     .sidebar-container.active .profile-sidebar-top{
         display: none;
     }
 }
 @media  (max-width: 800px){
     .mw-whm-hero--clientarea h1{
         font-size: 6vw !important;
     }

 }
 @media  (max-width: 991px){

     .sidebar{
         position: static;
     }
     .sidebar-container.active:after {
         content: '';
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: #0000001f;
         z-index: -1;
     }
     .sidebar-container {
        display: block;
         position: fixed;
         top: 87px;
         z-index: 10;
         width: 250px;
         left: -250px;
         transition: .3s;

         border-radius: 8px;
     }
     .sidebar-container.active + .sidebar-menu-toggle{
         left: 233px;
         z-index: 10;
         top: 74px;
     }
     .sidebar-container.active{
         left: 20px;
         box-shadow: 100px 0 400px #0000004d;
     }
     .sidebar-menu-toggle{
         left: 21px;
     }
     .profile-sidebar-top {
         border-bottom-left-radius: 0;
         border-bottom-right-radius: 0;
     }
     .sidebar .profile-sidebar, .sidebar .navigation {
         border-top-left-radius: 0;
         border-top-right-radius: 0;
     }
     .profile-sidebar-top + br{
         display: none;
     }
 }

 .mw-whm-header--block{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 62px;
 }

 .mw-mwh--header-menu-sign-column{
     display: flex;
     justify-content: flex-end;
     flex-wrap: nowrap;
     align-items: center;
 }

 .mw-whm-product-status *{
     vertical-align: middle;
 }
 .mw-whm.clientareaproducts .status:before{
     margin: 0 7px 0 0;
 }

 .mw-whm-product-status{
     font-size: 14px !important;
     display: inline-block;
     position: relative;
     text-align: left;
     vertical-align: middle;
 }

 .md-header.btn-toolbar{
     margin: 0;
     background-color: #eee;
     border-radius: 3px 3px 0 0;
     padding: 10px;
 }

 .md-header.btn-toolbar .md-control.md-control-fullscreen{
     display: none;
 }

 .md-editor .md-fullscreen-controls{
     display: none;
 }

 #inputMessage-footer .markdown-save{
     font-style: italic;
     color: #999;
 }
 #inputMessage-footer{
     padding: 5px;
     font-size: 14px;
 }

.domain-checker-bg, .domain-checker-container {
    background-image: unset!important;
    background: none!important;
}


.featured-tld .img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 160px;
    overflow: hidden;
}

.domain-checker-bg {
    padding-top: 20px!important;
    padding-bottom: 100px!important;
}


.domain-register-message {

   padding: 10px 22px;
   border-radius: 50%;
   border: 0;

   margin-left: 40px;
   margin-right: 10px;
}

.domain-register-message.domain-message-success {

    border-color: #fceeef;
    background: #fceeef;
}

.domain-register-message.domain-message-danger {

    border-color: #e7f8eb;
    background: #e7f8eb;
}

.spotlight-tlds {
    background-color: unset!important;
}

.whmc-kbtn.btn-add-to-cart {

    justify-content: end;
    align-items: center;
    display: flex;
}

.domain-pricing .tld-pricing-header div:nth-child(odd), .domain-pricing .tld-pricing-header .col-sm-2, .domain-pricing .tld-pricing-header .col-sm-4, .domain-pricing .tld-pricing-header .col-xs-2, .domain-pricing .tld-pricing-header .col-xs-4 {

    border-color: white!important;
    background-color: unset!important;
}

.domain-pricing .two-row-center {
    border-right: unset!important;
}

.domain-pricing .tld-row, .suggested-domains .list-group-item {
    padding: 30px 0!important;
    border-bottom: 1px solid #e2e2e2!important;
    border-top: none!important;
}

.panel-default td {
    padding: 20px 0!important;
    border-bottom: 1px solid #e2e2e2!important;
    border-top: none!important;
}

.featured-tld hr {
    margin: 0px;
}

.spotlight-tld .btn:not(.domain-contact-support), .suggested-domains .btn:not(.domain-contact-support) {
    background-color: #1279fa!important;
    border-color: #1279fa!important;
    padding: 5px 10px!important;
    font-size: 15px!important;
}

.spotlight-tld {
    padding: 13px 0!important;
    height: auto!important;
}


.spotlight-tld .btn:not(.domain-contact-support):hover, .suggested-domains .btn:not(.domain-contact-support):hover {
    background-color: #5da5ff!important;
    border-color: #5da5ff!important;
}

.domain-lookup-result .price {
    padding: 10px 0!important;
    font-size: 15px!important;
}

.suggested-domains .list-group-item {
    font-size: 16px;
}

.domain-promo-box {
    background-color: #ffffff!important;
    margin-top: 40px! important;
}

.domain-promo-box p {

    font-size: 16px!important;
    font-weight: 300!important;
}

.domain-info-box {
    padding: 5px 0;
}

.suggested-domains .card-header, .suggested-domains .panel-heading {
    border: none!important;
    text-align: left;
}

.suggested-domains .list-group-item {
    text-align: left;
    font-size: 18px;
    margin-left: 16px;
    margin-right: 16px;
}

#Primary_Navbar-Services-View_Available_Addons {

    display: none!important;
}

#order-standard_cart .sidebar-collapsed {
    display: none;
}

.domain-checker-container .input-group-box .form-control {
    margin-bottom: 0!important;
}


.panel-default > .panel-heading, .panel-default {

    background-color: #ffffff;
    border-color: #ffffff;
    border: none;
    padding-bottom: 0px;
}

.panel-body {
    padding-top: 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {

    vertical-align: middle!important;
}

.panel-downloads {
  justify-content: start;
  display: flex;
   margin-top: 40px;
   margin-left: 20px;
}

.mw-whm--search-box {
    display: block!important;
}


@media  (min-width: 650px){
    .availability-domain-checker-icon, .add-button-icon {
        display: none!important;

    }
}

 @media  (max-width: 651px){
     .availability-domain-checker-tag, .to-add.add-button-mobile, .domain-register-message {
         display: none!important;
     }
 }

.availability-domain-checker-icon.fa.fa-check {
    color: #5cb85c;
}

.availability-domain-checker-icon.fa.fa-close {
    color: red;
}

.input-holder, .fixed-container, .provide-domains {
    overflow-x: auto;
}

@media  (max-width: 1110px){
    #primaryLookupResult {
        font-size: 24px;
    }
}

@media  (max-width: 450px){
    #primaryLookupResult {
        font-size: 18px;
    }
}
.form-control {
    border-radius: 5px!important;
}


#order-standard_cart .font-size-36 {
    font-weight: 700;
    margin-bottom: 20px!important;
    text-align: center;
}

#order-standard_cart .cart-body {

    width: 100%!important
}

#order-standard_cart .font-size-24 {
    font-weight: 300;
    margin-bottom: 15px;

}

#order-standard_cart .font-size-30 {
    font-weight: 300;
}

.btn-transfer {

    width: 100%;
}

.panel-footer {
    background-color: unset!important;
    border: none!important;
}

footer .copy {
    padding-top: 20px!important;
}

footer {
    padding: 0 0 40px 0!important;
}

#order-modern .domainoptions .optionselected {

    background: linear-gradient( 90deg, #1279fa 0%, #1279fa 100%);
    background-color: unset!important;
}

#order-modern .domainoptions .option {
    border: none!important;
    padding: 20px 60px;

}

#order-modern .domainoptions .option label {
    padding: 20px 60px;
}

#order-modern .domainoptions .optionselected .radio-inline {

    color: #ffffff!important;
}

.input-select-domaintransfer {
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35px;

}