@import url("https://fonts.cdnfonts.com/css/milliard");

body {
    font-family: 'Milliard', sans-serif;
}

.sidebar .profile-sidebar-top {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient_sidebar 15s ease infinite;

}

@keyframes gradient_sidebar {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
