.page-with-sidebar .bg-top {
    background: url('../imgs/bg_top_pages.png');
    height: 119px;
    width: 100%;
    background-repeat: repeat-x;
    background-position: bottom center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.page-with-sidebar .inner {
    display: table;
    width: 100%;
}

/* Under Content */
.page-with-sidebar .under-content {
    margin-top: -70px;
}

.page-with-sidebar .under-content .left {
    width: 20%;
    display: table-cell;
}

.page-with-sidebar .under-content .right {
    width: 80%;
    display: table-cell;
    text-align: center;
}

.page-with-sidebar .under-content .right ul.top-menu li {
    display: inline-block;
    padding: 8px 25px;
    border-radius: 30px;
    margin: 0px 15px 25px 15px;
}

.page-with-sidebar .under-content .right ul.top-menu li a {
    color: #0086db;
}

.page-with-sidebar .under-content .right ul.top-menu li:hover,
.page-with-sidebar .under-content .right ul.top-menu li.active {
    background-color: #0086db;
    color: #fff;
}

.page-with-sidebar .under-content .right ul.top-menu li:hover a,
.page-with-sidebar .under-content .right ul.top-menu li.active a {
    color: #fff;
}

/* Content */
.page-with-sidebar .sidebar-mobile-nav,
.page-with-sidebar .sidebar-mobile-close {
    display: none;
}

.page-with-sidebar .sidebar {
    background: #f5f5f5;
}

.page-with-sidebar .sidebar,
.page-with-sidebar .delimeter,
.page-with-sidebar .content-page {
    display: table-cell;
}

.page-with-sidebar .delimeter {
    width: 1%;
}

.page-with-sidebar .sidebar {
    width: 25%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .17);
    box-shadow: 0 0 10px rgba(0, 0, 0, .17);
    padding: 50px 20px 50px 56px;
}

.page-with-sidebar .sidebar ul {
    margin-bottom: 70px;
}

.page-with-sidebar .sidebar ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.page-with-sidebar .sidebar ul li.depth-1:before {
    content: '';
    display: block;
    position: absolute;
}

.page-with-sidebar .sidebar ul li.depth-1:nth-child(1):before {
    background: url('../imgs/features_general.png');
    width: 24px;
    height: 20px;
    margin-left: -41px;
    margin-top: -3px;
}

.page-with-sidebar .sidebar ul li.depth-1:nth-child(2):before {
    background: url('../imgs/features_admin.png');
    width: 24px;
    height: 24px;
    margin-left: -41px;
    margin-top: -3px;
}

.page-with-sidebar .sidebar ul li.depth-1:nth-child(3):before {
    background: url('../imgs/features_e-commerce.png');
    width: 24px;
    height: 26px;
    margin-left: -41px;
    margin-top: -9px;
}

.page-with-sidebar .sidebar ul li.depth-1 > a {
    color: #0086db;
    margin-bottom: 20px;
    display: block;
    font-weight: bold;
}

.page-with-sidebar .sidebar ul li a {
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.page-with-sidebar .sidebar ul li a.active,
.page-with-sidebar .sidebar ul li a:hover {
    color: #0086db;
}

.page-with-sidebar .sidebar ul li ul a:hover:before,
.page-with-sidebar .sidebar ul li ul a.active:before {
    content: '';
    float: left;
    width: 16px;
    height: 12px;
    position: absolute;
    margin-left: -25px;
    margin-top: 2px;
    display: block;
    background-image: url('../imgs/check.png');
}

.page-with-sidebar .content-page {
    width: 74%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .17);
    box-shadow: 0 0 10px rgba(0, 0, 0, .17);
    padding: 50px;
    background-color: #fff;
}

.page-with-sidebar .content-page .content-wrapper {
    padding: 0 30px;
}

.page-with-sidebar .content-page .content-wrapper h1,
.page-with-sidebar .content-page .content-wrapper h2,
.page-with-sidebar .content-page .content-wrapper h3,
.page-with-sidebar .content-page .content-wrapper h4,
.page-with-sidebar .content-page .content-wrapper h5,
.page-with-sidebar .content-page .content-wrapper h6 {
    color: #353535;
    margin-bottom: 10px;
}

.page-with-sidebar .content-page .content-wrapper h1 {
    font-size: 30px;
    line-height: 40px;
}

.page-with-sidebar .content-page .content-wrapper h2 {
    font-size: 26px;
}

.page-with-sidebar .content-page .content-wrapper h3 {
    font-size: 22px;
}

.page-with-sidebar .content-page .content-wrapper,
.page-with-sidebar .content-page .content-wrapper p {
    font-size: 14px;
    color: #353535;
    line-height: 24px;
}

.page-with-sidebar .content-page .content-wrapper p {
    margin-bottom: 10px;
}

.page-with-sidebar .content-page .content-wrapper ul,
.page-with-sidebar .content-page .content-wrapper ol {
    padding-left: 18px;
}

.page-with-sidebar .content-page .content-wrapper ul li,
.page-with-sidebar .content-page .content-wrapper ol li {
    padding-left: 10px;
    font-size: 14px;
    color: #353535;
    line-height: 24px;
}

.page-with-sidebar .content-page .content-wrapper img {
    max-width: 100%;
}

/* Media queries */

@media screen and (max-width: 1279px) {
    .page-with-sidebar .bg-top {
        background-position: top center;
    }

    .page-with-sidebar .content,
    .page-with-sidebar .under-content .right {
        width: 100%;
    }

    .page-with-sidebar .content-page .content-wrapper {
        padding: 20px 0 0 0;
    }

    .page-with-sidebar .under-content .left {
        display: none;
    }

    .page-with-sidebar .sidebar {
        width: 40%;
        max-width: 300px;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .17);
        box-shadow: 0 0 10px rgba(0, 0, 0, .17);
        padding: 50px 20px 50px 70px;
        background: #fff;
        position: fixed;
        float: left;
        left: 0;
        z-index: 999;
    }

    .page-with-sidebar .sidebar {
        display: none;
    }

    .page-with-sidebar .sidebar-mobile-nav {
        display: block;
        position: absolute;
        margin-top: -30px;
        margin-left: -30px;
        color: #0086DB
    }

    .page-with-sidebar .sidebar-mobile-close {
        display: block;
        position: absolute;
        margin-top: -30px;
        margin-right: 20px;
        color: #0086DB;
        right: 0;
    }
}

@media screen and (max-width: 480px) {
    .page-with-sidebar .sidebar {
        width: 70%;
    }
}

@media screen and (max-width: 380px) {
    .page-with-sidebar .sidebar {
        width: 100%;
    }
}

/* Page Download */
.page-download .inner {
    min-height: 300px;
    width: 100%;
    text-align: center;
}

.page-download .microweber-logo {
    margin-bottom: 20px;
}

.page-download h1,
.page-download h2 {
    font-size: 30px;
    line-height: 40px;
}

.page-download h1 {
    margin-bottom: 45px;
}

.page-download h2 {
    margin-bottom: 25px;
}

.page-download,
.page-download p {
    font-size: 16px;
    line-height: 26px;

}

.page-download p {
    margin-bottom: 35px;
}

.page-download .buttons {
    margin: 30px 0;
}


/* Page Plans */
.page-plans .inner {
    min-height: 300px;
    width: 100%;
    text-align: center;
}

.page-plans small.last-step {
    color: #969696;
    font-size: 12px;
    margin-bottom: 20px;
    display: block;
}

.page-plans h1,
.page-plans h2 {
    font-size: 30px;
    line-height: 40px;
}

.page-plans h1 {
    margin-bottom: 30px;
}

.page-plans h2 {
    margin-bottom: 25px;
}

.page-plans,
.page-plans p {
    font-size: 16px;
    line-height: 26px;

}

.page-plans p a {
    color: #0086DB;
    font-size: 14px;
    line-height: 24px;
}

/* Plans Row */
.page-plans .plans-row {
    max-width: 810px;
    margin: 100px auto 100px auto;
}

.page-plans .plans-row .mw-ui-col {
    background-color: white;
    color: #9A9A9A;
    font-size: 13px;
    max-width: 270px;
    margin: 20px auto;
    border: 1px solid #0086db;
}

.page-plans .plans-row .mw-ui-col.active {
    border: 1px solid #0086db;
    -webkit-box-shadow: 0 0 8px #0086db;
    box-shadow: 0 0 8px #0086db;
    z-index: 1;
    position: relative;
}

.page-plans .plans-row .active .cbtn,
.page-plans .plans-row .mw-ui-col {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.page-plans .cbtn {
    padding-left: 65px;
    padding-right: 65px;
    margin: 0 10px;
}

.page-plans .cbtn:hover {
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 8px #0086db;
    box-shadow: 0 0 8px #0086db;
}

@media (max-width: 768px) {
    .page-plans .plans-plan-features {
        columns: 100px 3;
    }
}

@media (min-width: 768px) {
    .page-plans .plans-row .mw-ui-col.active {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    .page-plans .plan-container .cbtn {
        opacity: 0;
    }
}

.page-plans .active .plan-container .cbtn {
    opacity: 1;
}

.page-plans .plan-container {
    padding: 50px 35px 50px 35px;
    position: relative;
}

.page-plans .fav-plan {
    background-image: url('../imgs/plans_favourite.png');
    width: 34px;
    height: 37px;
    background-repeat: no-repeat;
    margin-right: 25px;
    float: right;
}

.page-plans .submit-auth {
    height: 65px;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    position: relative;
}

.page-plans .plans-row h3 {
    text-align: center;
}

.page-plans .plans-row h3 small {
    font-size: 36px;
    font-weight: 600;
    color: #0086db;
}

.page-plans .plans-row h3 .pences {
    font-size: 20px !important;
}

.page-plans .plans-row h3 span.tip.per-item,
.page-plans .plans-row h3 span.currency {
    font-size: 18px;
    font-weight: 400;
    color: #0086db;
}

.page-plans .plans-plan-features ul {
    list-style-type: none;
    padding: 0 0 0 19px;
}

.page-plans .plans-plan-features ul li {
    text-align: left;
    margin-bottom: 5px;
}

.page-plans .plans-plan-features ul li:before {
    content: '';
    background-image: url('../imgs/check.png');
    width: 16px;
    height: 12px;
    display: block;
    position: absolute;
    float: left;
    margin-left: -20px;
    margin-top: 7px;
}

.page-plans .plans-plan-features ul li span {
    padding: 6px 0;
    color: #393939;
    margin-left: 10px;
    font-size: 14px;
}

.page-plans .price-plan-name {
    display: block;
    color: #292929;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: normal;
    margin-bottom: 30px;
}

.page-plans .enabled-false {
    cursor: default;
    cursor: no-drop;
    cursor: not-allowed;
}

.page-plans .yousave {
    position: absolute;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    top: 0;
    left: 0;
    color: #0086db;
}

/* Testimonials */
.page-plans .mw-testimonials {
    margin-top: 100px;
    padding: 50px 0 70px 0;
    background: #006cc7; /* Old browsers */
    background: -moz-linear-gradient(left, #006cc7 0%, #20bcfd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #006cc7 0%, #20bcfd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #006cc7 0%, #20bcfd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006cc7', endColorstr='#20bcfd', GradientType=1); /* IE6-9 */
}

.page-plans .mw-testimonials,
.page-plans .mw-testimonials p {
    color: #f5f5f5;
    font-size: 16px;
    font-weight: normal;
    text-align: center !important;
}

.page-plans .mw-testimonials h5 {
    font-size: 16px;
    font-weight: normal !important;
    width: auto;
    display: inline-block;
}

.page-plans .mw-testimonials h5:before {
    background: url('../imgs/testimonials-quote.png');
    display: block;
    float: left;
    content: '';
    position: absolute;
    width: 22px;
    height: 16px;
    margin-left: -35px;
    margin-top: 4px;
}

.page-plans .mw-testimonials hr {
    color: #fff;
}

.page-plans .mw-testimonials .slick-dots li button {
    background-color: #fff !important;
    border-color: #fff !important;
}

.page-plans .mw-testimonials .slick-dots li.slick-active button {
    background-color: #1cb1f5 !important;
    border-color: #1cb1f5 !important;
}